@model Orchard.Accenture.Event.ViewModels.SessionEditorViewModel
@using Orchard.Accenture.Event.Models;
@using Orchard.Mvc.Html;
@using Orchard.Utility.Extensions;

@{   
    Layout.Title = T("Create a Session").ToString();
}

@*<fieldset>
    <label class="sub" for="@Html.IdFor(m => m.Session.Consent)">@T("Consent Form")</label>
    <br />
    @Html.TextAreaFor(m => m.Session.Consent, new { @class = "text large", rows = "5" })
</fieldset>*@

